@media screen and (max-width:640px) {
    .form {
        margin: 2px;       
        padding: 2px;
        margin-top: 5px;
    }
    .form > label {
        display: none;
        font-size: 12pt;     
    }

    .form > .input-field {
        min-width: 93%;
        padding: 10px;
    }

    .button {
        left:50%;
        margin-left:-60px;
        position: relative;      
    }
}