.form {
    margin-top: 10px;
    margin-left: 30px;
    padding: 5px;
}

.form > label {
    display: inline-block;
    font-size: 12pt;
    vertical-align: top;
    min-width: 150px;
    max-width: 150px;
}

.form > .input-field {
    min-width: 300px;
    padding: 10px;
}

.button {
    padding: 10px 35px;
    font-weight: bold;
}
