*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Merriweather, cursive;
}

#wrapper {
    margin: 0px auto;
    min-width: 1000px;
    max-width: 1000px;
}
/*#max-mini-height {
    min-height: 500px;
    max-height: 500px;
}*/
/*Header element begin.*/
#header {
    background: #edede3;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 25px;  
}

#header > #logo {
    margin: 10px 10px;
    display: inline-block;
}

#header > #name {
    vertical-align: top;
    display: inline-block;   
}

#header > #name > h1 {
    color:#6ab47b;
    font-size: 50pt;
    font-family:courgette;
    margin: 50px 0px 0px 70px;   
}
/*Header element end.*/
/*Navigation menu start.*/
#nav_menu {
    background-color: #599a68;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 25px;
}

#nav_menu > ul { 
    list-style: none;
    margin-left: 20px;
}

#nav_menu > ul > li {
    width: 95px;
    margin: 13px 5px;
    display: inline-block;
}

#nav_menu > ul > li:last-child {
    width: 120px;
    margin-left: 300px;
}

#nav_menu > ul > li.admin-nav {
    margin-left: 860px;
}

#nav_menu > ul > li > a {
    color: #fff;
    font-size: 11pt;
    padding: 10px 15px;  
    text-decoration: none;
    font-family: Merriweather;
}

#nav_menu > ul > li a:hover {
    color: #A32A2A;
    font-size: 12pt; 
    font-weight: bold;
}
/*Navigation menu end.*/
/*Subject block for all pages.Begin.*/
.block > .subject {
    padding: 10px;
    color: #6AB47B;
    text-align: center;
    border-bottom: 1px dashed #D8D8D8;
}

.block > .subject > h1 {
    font-size: 16pt;
    font-family: Merriweather; 
}
/*Subject block for all pages.End.*/
/*Footer begin.*/
#footer {
    padding-top:15px;
    margin-top: 10px;
    text-align: center;
    border-top: 1px dashed #D8D8D8;
}
/*Footer end.*/
/*Form for add, edit, update. For all pages, begin.*/
.form {
    padding: 5px;
    margin-top: 10px;
    margin-left: 30px;
}

.form > label {
    font-size: 12pt;   
    min-width: 150px;
    max-width: 150px;
    vertical-align: top;
    display: inline-block; 
}

.form > .input-field {
    padding: 10px;
    min-width: 300px; 
}
/*Form for add, edit, update. For all pages, end.*/
/*Button for add, edit, update. Begin.*/
.button {
    font-weight: bold;
    padding: 10px 35px;
}
/*Button for add, edit, update. End.*/
/*Display table for products, categories.. begin.*/
.table {
    width: 100%;
    border-collapse: collapse;
}
.table-small th, td,
.table th, td {
    padding: 5px 5px;
    text-align: left;
    border-bottom: 1px solid #888;
}
.table-small th,
.table thead th {
    color: #fff;
    padding: 3px 5px;
    font-weight: bold;
    text-align: center;
    background-color: #811;   
}

td > ul {
    list-style: none;
}

tr:nth-child(even){
    background-color: #f2f2f2
}

.table-small td:first-child,
.table tbody td:first-child {
    text-align: center;
    border-left: 1px solid black;   
}

.table tbody td:nth-child(3),
.table tbody td:nth-child(4){
    padding-left: 20px;
}

.table tbody td:nth-child(6),
.table tbody td:nth-child(7),
.table tbody td:last-child {
    text-align: center;
}

.table tbody td:nth-child(5) {
    text-align: right;
}

.table-small tbody td,
.table tbody td {
    border-right: 1px solid black;
}

.table-small a,
.table a {
    text-decoration: none;
    display: inline-block;
    padding: 1px 5px;
    color: #811;
}

.table a:hover,
.table-small a:hover {
    text-decoration: underline;   
    color: #000;
}
/*Table which have specific design.*/
.table-small {
    width: 70%;
    border-collapse: collapse;
    margin-left: 150px;
}

.table-small tbody td:nth-child(2),
.table-small tbody td:nth-child(3){
    padding-left: 20px;
}

.table-small tbody td:last-child {
    text-align: center;
}
/*Table which have specific design. Category, */
/*Link style for back and add. Begin.*/
.link {
    margin: 3px 0px;;
    margin-left: 20px;
    display: inline-block;
    border-bottom: 1px dashed black;
}
.link-back {
    width: 93px;    
    padding: 10px;
    display: inline-block;
}
.link-back > a {
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.link-add {
    width: 190px;
    padding: 10px;
    margin-left: 650px;
    display: inline-block;
}
.link-add > a {
    color: black;
    font-weight: bold;
    border-bottom: none;
    text-decoration: none;   
}
/*Link style for back and add. End.*/
/*Begin for style image-list.*/
.small-image {
    margin: 5px;
    width: 250px;
    height: 200px;  
}
/*End for style image-list*/
/*Style for admin panel, head of title. Begin.*/
.block > .subject > #admin-subject {
    color: #811;
    font-weight: bold;
    font-family: Merriweather;  
}
/*Style for admin panel, head of title. End.*/
/*Nav elements for admin panel, pictures.*/
#home {
    margin-top: 70px;
    margin-left: calc(460px/2);
}

#home > ul > li {
    list-style: none;
}

#home > ul > li {
    display:inline-block;
}

#home > ul > li > a {
    padding: 10px 15px;
}

#home > ul > li a:hover {
    border-radius: 100%;
    background: #E6E6E6;   
}
/*End nav elements for admin panel, pictures.*/
/*Pocetak za slider.*/
.slider1_container-a {
    width: 980px;
    height: 380px; 
    margin: 2px;
    overflow: hidden;
    position: relative; 
}
.captionOrange, 
.captionBlack {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
.captionOrange {
    background: #EB5100;
    background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack {
    font-size:16px;
    background: #000;
    background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, 
A.captionOrange:active, 
A.captionOrange:visited {
    color: #ffffff;
    text-decoration: none;
}
a.captionOrange:hover {
    color: #eb5100;
    text-decoration: underline;
    background-color: #eeeeee;
    background-color: rgba(238, 238, 238, 0.7);
}
.bricon {
    background: url(../img/browser-icons.png);
}

#slider1_container {
    position: relative; 
    width: 980px;
    height: 380px; 
    overflow: hidden;
}

.loading-screen {
    top: 0px; 
    left: 0px;
    position: absolute; 
}

.loading-u {   
    opacity:0.7; 
    display: block;
    position: absolute; 
    filter: alpha(opacity=70);   
    background-color: #000; top: 0px; left: 0px;width: 100%; height:100%;
}

.loading {   
    top: 0px; 
    left: 0px;
    width: 100%;
    height:100%;
    display: block; 
    position: absolute; 
    background: url(assets/images/slider/loading.gif) no-repeat center center;
}

.slides-container {
    cursor: move; 
    width: 980px; 
    height: 380px;
    overflow: hidden;
    position: absolute; 
    left: 0px; 
    top: 0px; 
}

.captionOrange-a {
    left:20px; 
    top: 30px; 
    width:400px; 
    height:30px;
    position:absolute; 
}

.captionBlack-b {
    left:360px; 
    top: 130px; 
    width:100px; 
    height:30px;
    position:absolute; 
}

.captionBlack-v {  
    left:360px; 
    top: 180px; 
    width:70px; 
    height:30px;
    position:absolute;
}

.captionOrange-g { 
    left:660px;
    top: 110px;
    width:250px; 
    height:120px; 
    text-align: left;
    position:absolute; 
}

.captionOrange-d {
    left:20px; 
    top: 310px; 
    width:330px; 
    height:30px;
    position:absolute; 
}

.number {
    top:280px;
    left:420px;
    width:90px;
    color:#fff;
    height:40px;
    font-size:36px;
    line-height:40px;
    position:absolute;
}
.number-product {
    top:280px;
    color:#fff;
    left:560px;
    width:160px;
    height:40px;
    font-size:36px;
    line-height:40px; 
    text-align: center;
    position:absolute;
}

.captionOrange-dj {
    left:20px; 
    top: 20px; 
    width:270px; 
    height:30px;
    position:absolute;
}

.captionBlack-e {
    top:20px; 
    left:20px; 
    width:200px; 
    height:90px;
    position: absolute; 
}

.captionOrange-z {
    top: 80px;
    left: 80px; 
    width: 160px; 
    height: 90px; 
    line-height: 90px;
    position: absolute;    
}

.no-caption-a {
    top:40px; 
    left:320px; 
    width:200px; 
    height:30px; 
    color:#000000;
    font-size:18px; 
    line-height:30px;
    position:absolute;
    text-align:center; 
}
.no-caption-b {
    top:80px; 
    left:260px; 
    width:350px; 
    height:30px; 
    color:#000000; 
    font-size:18px;
    line-height:30px;
    position:absolute; 
}
.no-caption-c {
    top:110px;
    left:425px; 
    width:350px; 
    height:30px; 
    color:#000000;
    font-size:18px;
    line-height:30px;
    position:absolute; 
}
.captionBlack-a {
    top:180px;
    left:500px;  
    width:100px;
    height:30px;
    color:#fff; 
    font-size:18px;
    line-height:30px;
    position:absolute; 
}
.captionOrange-b {
    top:320px;
    left:540px;  
    width:410px; 
    height:30px;
    color:#fff; 
    font-size:18px; 
    line-height:30px;
    position:absolute; 
}

.captionOrange-v {
    top:20px; 
    left: 20px;
    width:140px; 
    height:90px; 
    color: #fff; 
    line-height: 30px; 
    position: absolute; 
    text-align: center;
}

.captionBlack-g { 
    left:10px; 
    top: 310px;
    width:150px; 
    height:30px;
    position:absolute;
}

.captionOrange-e {
    left:165px; 
    top: 310px; 
    width:80px; 
    height:30px;
    position:absolute; 
}

.captionBlack-z {
    width:200px; 
    height:30px;
    left:250px; 
    top: 310px; 
    position:absolute;										
}

.captionBlack-l {
    left:430px; 
    top: 200px; 
    width:30px; 
    height:30px;
    position:absolute; 
}

.captionOrange-lj {
    left:580px;
    top: 130px; 
    width:80px; 
    height:30px;
    position:absolute;  
}

.captionBlack-i {
    top: 50px;
    left:210px; 
    width:50px; 
    height:30px;
    position:absolute; 
}

.captionOrange-i {
    top: 200px;
    left:50px;  
    width:70px; 
    height:30px;
    position:absolute; 
}

.captionOrange-nj {
    left:460px; 
    top: 260px; 
    width:80px; 
    height:30px;
    position:absolute; 
}
.captionBlack-dj {
    top:250px;
    left:750px;  
    width:70px;
    color:#fff;
    height:30px;
    line-height:30px;
    position:absolute;                      
}

.captionOrange-o {
    left:20px;
    top: 300px;
    width:260px;
    height:60px;
    font-size:20px;
    position:absolute;
}

.captionOrange-p {
    left:60px; 
    top: 10px; 
    width:130px; 
    height:30px;
    position:absolute; 
}

.captionOrange-j {
    top: 90px;
    left:450px; 
    width:100px;
    height:30px;
    position:absolute; 
}

.captionOrange-k {
    top: 70px;
    left:750px; 
    width:130px;
    height:30px;
    position:absolute; 
}

.captionBlack-d {
    top: 240px;
    left:650px;  
    width:100px; 
    height:30px;
    font-size:18pt;
    position:absolute; 
}

.captionBlack-m {
    top:170px;
    left:180px; 
    color:#fff;
    width:150px; 
    height:30px; 
    font-size:28px; 
    line-height:30px;
    position:absolute;                     
}

.captionOrange-s {
    top: 40px; 
    left: 280px; 
    width: 180px;
    height: 250px;  
    text-align: left;
    line-height: 50px;
    position: absolute; 

}
.share-icon {
    display: inline-block;
    float: left;
    margin: 4px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(../images/slider/share/share-icons.png);
}

.share-facebook {
    background-position: 0px 0px;
}

.share-facebook:hover {
    background-position: 0px -40px;
}

.share-twitter {
    background-position: -40px 0px;
}

.share-twitter:hover {
    background-position: -40px -40px;
}

.share-pinterest {
    background-position: -80px 0px;
}

.share-pinterest:hover {
    background-position: -80px -40px;
}

.share-linkedin {
    background-position: -240px 0px;
}

.share-linkedin:hover {
    background-position: -240px -40px;
}

.share-googleplus {
    background-position: -120px 0px;
}

.share-googleplus:hover {
    background-position: -120px -40px;
}

.share-stumbleupon {
    background-position: -360px 0px;
}

.share-stumbleupon:hover {
    background-position: -360px -40px;
}

.share-email {
    background-position: -320px 0px;
}

.share-email:hover {
    background-position: -320px -40px;
}

.captionOrange-t {
    top: 40px;
    left:700px; 
    width:130px; 
    height:30px;
    position:absolute; 
}

.captionBlack-u {
    left:780px; 
    top: 55px; 
    width:100px; 
    height:30px;
    position:absolute; 
}

.icons {   
    top: 6px; 
    z-index: 10;
    right: 16px; 
    width: 280px; 
    height: 40px; 
    display: block; 
    position: absolute; 
}
/* jssor slider bullet navigator skin 03 css */
.jssorb03 {
    position: absolute;
}
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    background: url(../images/slider/b03.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }

/* jssor slider arrow navigator skin 20 css */
.jssora20l, .jssora20r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(../images/slider/a20.png) no-repeat;
    overflow: hidden;
}
.jssora20l { background-position: -3px -33px; }
.jssora20r { background-position: -63px -33px; }
.jssora20l:hover { background-position: -123px -33px; }
.jssora20r:hover { background-position: -183px -33px; }
.jssora20l.jssora20ldn { background-position: -243px -33px; }
.jssora20r.jssora20rdn { background-position: -303px -33px; }
/*Kraj za Slider*/

p {
    font-size: 12pt;
    margin-top: 15px;
    text-indent: 45px;
    text-align: justify;
    font-family: Merriweather;  
}

/*Style for list of product. Begin. Home page.*/
.product-home {
    width: 980px;
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: top;
    display: inline-block;  
}

.picture-list {
    margin: 10px 0px; 
}

.image {
    width: 150px; 
    height: 200px;
}

.subject-list {
    border-top: 1px dashed #A3A3A3;
}

.products {    
    max-width: 190px;
    min-width: 190px; 
    margin-bottom: 5px;
    text-align: center;   
    border-radius: 3px;
    vertical-align: top;
    display: inline-block;    
    border: 0.5px solid #A3A3A3; 
    background-color: #FAF7F7;
}

.subject-list > a {
    text-decoration: none; 
}

.subject-list .name_product > h1 {
    width: 150px;
    color: #030000;  
    font-size: 11pt;
    overflow:hidden;
    margin: 10px 20px;
    white-space: nowrap;
    padding-bottom: 10px;  
    text-overflow: ellipsis;
    font-family: Merriweather; 
}

.subject-list .name_product > h1:hover {
    color: #A32A2A;
    font-size: 12pt; 
    font-weight: bold;   
}
/*Style for list of product. End. Home page.*/