.background {
    margin-top: 5px;
    border: 1px solid #968F8F;
    background-color: #F5F5F5;
    margin-bottom: 10px;
    -webkit-border-radius: 60px;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius: 60px;
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-radius: 60px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.subtitle > h2 {         
    width: 240px;
    font-size: 13pt; 
    margin: 0px auto;
    margin-top: 25px;
    padding-bottom: 5px;
    text-align: center; 
    border-bottom:1px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
}
.block p {   
    font-size: 13pt;
    padding-top: 5px;
    margin-top: 25px;
    text-indent: 50px;
    margin-bottom: 20px;
    text-align: justify;
}
table { 
    width: 40%; 
    margin-left: 90px;
    margin-bottom: 15px;
}
tr { 
    margin-top: 10px;
}

td {     
    padding: 6px; 
    text-align: left;
    padding-left: 20px;
    font-size: 12pt;
    border: 1px solid #ccc;    
}
.mapa > p {
    margin-top: 10px;
}
.flexible-container iframe,   
.flexible-container object,  
.flexible-container embed {
    top: 0;
    left: 0;
    width: 60%;

}
.flexible-container {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}