@media screen and (max-width:640px) {
    .background {
        border:none;
        background-color: white;
    }
    .subtitle > h2 { 
        width: 150px;       
        font-size: 9pt;
        margin-top: 4px;
    }
    .block p {   
        padding: 5px;
        font-size: 10pt;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    table { 
        width: 100%; 
        margin-left: 0px;
        margin-bottom: 10px;
    }
    table, tbody, td, tr { 
        display: block; 
        margin-top: 8px;
    }
    tr { 
        margin-top: 1px;
        border: 1px solid #ccc;        
    }
    td {  
        border: none;
        font-size: 9pt;
        text-align: center;
        padding-left: 0px;
        border-bottom: 1px solid #eee;        
    }
    .flexible-container {
        height: 0;
        overflow: hidden;
        padding-top: 30px;
        position: relative; 
        margin-top: 5px;
        padding-bottom: 56.25%;       
    }

    .flexible-container iframe,   
    .flexible-container object,  
    .flexible-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}