@media screen and (max-width:640px){
    #wrapper {
        min-width: 100%;
    }
    #header > #logo {
        display: none;
    }
    #header > #name {
        display: block; 
        vertical-align: middle;        
    }
    #header > #name > h1 {
        margin: 2px;
        color: #6ab47b;        
        font-size: 28pt;
        padding: 10px 0px;
        text-align: center;
        font-family:courgette;       
    }  
    #nav_menu {
        border-bottom-right-radius: 15px;
    }
    #nav_menu > ul {
        margin-left: 0px;
    }
    #nav_menu > ul > li {
        width: auto;
        display: block;
        margin: 1px;
        padding: 3px 0px;
        border-bottom: 1px solid white;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
        -moz-border-radius-bottomright: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;       
    }
    #nav_menu > ul > li:last-child {
        width: auto;
        margin-left: 0px;       
    }
    #nav_menu > ul > li > a {
        font-size: 12pt;
        display: block;
        text-align: center; 
    }
    /*Navigation menu end.*/
    .block > .subject {
        border-bottom: none;
    }
    .block > .subject > h1 {
        font-size: 13pt;
        padding-bottom: 10px;       
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom: 1px solid #D8D8D8;
        -moz-border-radius-bottomleft: 7px;
        -moz-border-radius-bottomright: 7px;
        -webkit-border-bottom-left-radius: 7px;
        -webkit-border-bottom-right-radius: 7px;       
    }
    .image {
        width: 40%; 
        height: 30%;
    }
    .product-home {
        margin: 0%;
        width: 100%;
        display: block;
    }
    .products {    
        max-width: 99%;
        min-width: 99%; 
        margin-top: 1%;
    }
    .subject-list .name_product > h1 {
        width: 100%;
        font-size: 10pt;
        margin-left: 0%;
        margin-bottom: 0%;      
    }
    @media screen and (max-width:340px) {
        .image {
            width: 90%; 
        }
    }
}