.page {
    text-align: left;
    margin-top: 30px;
}
.page .description > p {
    font-size: 13pt;
    text-indent: 40px;
    text-align: justify;
    font-family: cursive;  
}
#image {
    float: left; 
    margin: 0px 15px 15px 0px;
}