@media screen and (max-width:640px){
    .page {
        margin: 3px;
    }

    .page .description > p {
        margin: 0px;
        padding: 4px;
        padding-top: 0px;
        font-size: 11pt; 
    }
    #image {
        display: none;
    }
}
