@media screen and (max-width:640px) {
    #side-bar {
        width: 100%;       
        display: block;
        margin-top: 0px;
        text-align: center;
    }
    
    .image {
        width: 40%; 
        height: 30%;
    }
    
    .product {
        margin: 0%;
        width: 100%;
        display: block;
    }
    
    .products {    
        max-width: 99%;
        min-width: 99%; 
        margin-top: 1%;
    }
    
    .subject-list .name_product > h1 {
        width: 100%;
        font-size: 10pt;
        margin-left: 0%;
        margin-bottom: 0%;      
    }

    .images-product {
        margin: 0% 25%;
        display: block;
        border: 0.2px solid #F2F2F2;   
    }

    .images-product > img {
        width: 100%; 
        height: 0%;
    }
    
    .producer > h4 {
        margin: 3%;
        font-size: 9pt;
        margin-left: 10%;    
    }
    
    .product-subject {
        width: 100%;
        padding: 0%;
        margin-top: 1%;
    }

    .product-subject > #subject-p > h2 {
        font-size: 15pt;
        padding: 2% 0px;
    }
    
    #about-product {
        margin-top: 7%;
        margin-left: 5%;
    }

    #about-product > h3 {
        width: 19%;
        padding: 0px;       
        font-size: 12pt;  
    }
    
    .product-short-description > p,
    .product-long-description p {
        margin: 3%;
        font-size: 10pt;
        margin-top: 5%;
        text-indent: 6%;        
    }

    #packing {
        margin-top: 5%;
    }

    #packing > h4 {
        width: 13%;
        margin-left: 5%;
        font-size: 10pt;
    }

    #packing .packing-list {
        margin-left: 20%;
    }

    #packing .packing-list > li {
        font-size: 10pt;
        margin-top: 3%;
    }
    .price {   
        width: 70%; 
        padding: 5px;
        font-size: 14pt;
        margin-top: 5%;
        text-align: center;
        margin-left: 15%;   
    }

    .product-long-description {
        margin-top: 8%;
    }

    .product-long-description header {
        margin-left: 7%;
        margin-bottom: 1%;
    }
    .product-long-description header > h4 {
        width: 32%;
        font-size: 11pt;

    }

    @media screen and (max-width:340px) {
        .image {
            width: 90%; 
        }
        #about-product > h3 {
            width: 45%;
        }
        #packing > h4 {
            width: 29%;
        }
        .product-long-description header > h4 {
            width: 80%;
        }
    }

}