/*Left side bar design. Begin.*/
#side-bar {
    width: 180px;
    margin-top: 10px;
    display: inline-block;
    background-color:#599a68;
    border: 0.1px solid #8A8A8A;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 15px;   
}

.nav-category > ul {
    list-style: none;
}

.nav-category > ul > li {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid #D9D9D9;
}

.nav-category > ul > li:last-child {
    border-bottom: none;
}

.nav-category > ul > li > a {
    color: white;;
    padding: 15px;
    font-size: 10pt;   
    padding-left: 7px;  
    text-decoration: none;
}

.nav-category > ul > li > a:hover {
    color: #A32A2A;
    font-size: 12pt; 
    font-weight: bold;
}
/*Left side bar end.*/
/*Style for list of product. Begin.*/
.product {
    width: 790px;
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: top;
    display: inline-block;  
}

.picture-list {
    margin: 10px 0px; 
}

.image {
    width: 150px; 
    height: 200px;
}

.subject-list {
    border-top: 1px dashed #A3A3A3;
}

.products {    
    max-width: 190px;
    min-width: 190px; 
    margin-bottom: 5px;
    text-align: center;   
    border-radius: 3px;
    vertical-align: top;
    display: inline-block;    
    border: 0.5px solid #A3A3A3; 
    background-color: #FAF7F7;
}

.subject-list > a {
    text-decoration: none; 
}

.subject-list .name_product > h1 {
    width: 150px;
    color: #030000;  
    font-size: 11pt;
    overflow:hidden;
    margin: 10px 20px;
    white-space: nowrap;
    padding-bottom: 10px;  
    text-overflow: ellipsis;
}

.subject-list .name_product > h1:hover {
    color: #A32A2A;
    font-size: 12pt; 
    font-weight: bold;   
}
/*Style for list of product. End.*/
/*Style for details of product*/
.images-product {
    margin: 10px;
    display: inline-block;
    border: 0.2px solid #F2F2F2;   
}

.images-product > img {
    width: 300px;
    height: 350px;
}

.producer > h4 {
    margin: 5px;
    margin-left: 70px;
    
}
/*Head of detalis. Begin.*/
.product-subject {
    width: 650px;
    padding: 3px;
    margin-top: 10px;
    vertical-align: top;
    display: inline-block;
}

.product-subject > #subject-p > h2 {
    font-size: 22pt;
    padding: 5px 0px;
    text-align: center;   
    background-color: #E3E3E3;
    border-bottom: 0.5px dashed black;
}
/*End.*/
/*Subject after head subject. Begin.*/
#about-product {
    margin-top: 35px;
    margin-left: 45px;
}

#about-product > h3 {
    padding: 0px;
    width: 135px;
    font-size: 15pt;  
    border-bottom: 1px dashed #6E6E6E;
}
/*Subject after head subject. End.*/
.product-short-description > p {
    color: #545454;
    font-size: 12pt;
    margin-top: 25px;
    text-indent: 45px; 
    text-align: justify;   
}
/*Packin product. List. Begin.*/
#packing {
    margin-top: 30px;
}

#packing > h4 {
    width: 90px;
    margin-left: 45px;
    border-bottom: 0.5px dashed #6E6E6E;
}

#packing .packing-list {
    margin-left: 145px;
}

#packing .packing-list > li {
    color: #545454;
    margin-top: 5px;
}
/*Packin product. List. End.*/
.price {   
    width: 220px; 
    padding: 5px;
    font-size: 14pt;
    margin-top: 25px;
    text-align: center;
    margin-left: 400px;   
    background-color: #E3E3E3;
    border-bottom: 0.5px dashed black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*Long description of product. Begin.*/
.product-long-description {
    margin-top: 30px;
}

.product-long-description header {
    margin-left: 50px;
    margin-bottom: 35px;
}
.product-long-description header > h4 {
    width: 200px;
    border-bottom: 0.5px dashed #6E6E6E;
    
}

.product-long-description p {
    color: #545454;
    
}
/*End.*/